#loginForm {
	padding:20px;
	background-color:#f7f7f7;
	border: 1px solid gray;
}

#recherche {
    height: 50px;
    vertical-align:middle;
}

#monturesList ul {
    list-style-type: none;
    padding : 0;
    margin : 0;
   // margin-top : 50px;
    //margin-bottom : 50px;
}

#monturesList li {
    margin : 2px;
    min-height: 50px;
}

#monturesList li img {
    height: 30px;
    width: 30px;
    margin : 5px;
    cursor: pointer;
    vertical-align:middle;
}

#monturesList .nom {
    cursor: pointer;
}

#monturesList .description {
    display: block;
    margin-top : 2px;
    margin-left: 40px;
    padding: 2px;
}

#monturesList .descriptionOff{
    display: none;
}

#monturesList .image {
    filter : none;
    -webkit-filter: none;
    -moz-filter: none;
}

#monturesList .grise {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.erreur {
    color: crimson;
    width: 100%;
}

.fondHorde {
   background-image: url("../images/icon_ballpoint_horde.png");
   background-position: right top; 
   background-repeat: no-repeat;
   background-size: 50px 50px;
}

.fondAlliance {
   background-image: url("../images/icon_ballpoint_alliance.png");
   background-position: right top; 
   background-repeat: no-repeat;
   background-size: 50px 50px;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

#monturesList .iconlist {
	margin-bottom : 2px;
}

#monturesList .iconlist li{
	min-height: 0px;
	padding-left: 10px;
}